# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Gabuzomeu_Unity.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pamar\Documents\Projets\Gabuzomeu\Gabuzomeu_Unity\.idea\.idea.Gabuzomeu_Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
